h1 {
    font-family: Futura;
    font-weight: 700;
    font-size: 40px;
}
li {
    font-family: Futura;
    font-weight: 700;
    font-size: 30px;
    padding: 45px 0px;
    float: left;
}
.button {
    background-color: #000;
    font-family: Futura;
    font-weight: 700;
    color: white;
    padding: 40px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.computeresult {
    background-color: black;
    font-family: Futura;
    font-weight: 700;
    color: white;
    padding: 40px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
