@font-face {
    font-family: 'Ormont_Light';
    src:url("https://github.com/patrickboutin/calculateurdedoses/blob/master/css/Ormont_Light.eot?raw=true") format('eot'),
        url("https://github.com/patrickboutin/calculateurdedoses/blob/master/css/Ormont_Light.woff?raw=true") format('woff'),
        url("https://github.com/patrickboutin/calculateurdedoses/blob/master/css/Ormont_Light.ttf?raw=true") format('truetype'),
        url("https://github.com/patrickboutin/calculateurdedoses/blob/master/css/Ormont_Light.svg#Ormont_Light?raw=true") format('svg');
    font-weight:normal;
    font-style:normal;
}

.jumbotron {
    font-family: 'Ormont_Light';
    font-size: 40px;
    font-weight: 900;
    background-color: black;
    color: white;
}

.container {
    font-family: 'Ormont_Light';
    font-size: 20px;
    font-weight: 900;
    color: black;
}

.btn-lg {
    background-color: black;
    font-family: 'Ormont_Light';
    font-weight: 700;
    color: white;
    padding: 40px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

.btn-lg:hover, .btn-lg:focus {
    background-color: grey;
}    

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownunit {
    position: relative;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
